a {
    text-decoration: none;
}

html, body, h1, h2, h3, h4, h5, h6 {
    font-family: "Open Sans", sans-serif;
}

body {
    font-family: "Open Sans", sans-serif;
    background-color: #040404;
    color: #fff;
    position: relative;
    background: transparent;
}

body::before {
    content: "";
    position: fixed;
    background: #040404 url("../img/bg.jpg") top right no-repeat;
    background-size: cover;
    left: 0;
    right: 0;
    top: 0;
    height: 100vh;
    z-index: -1;
}

@media (min-width: 1024px) {
    body::before {
        background-attachment: fixed;
    }
}

.pageinside {
    overflow: hidden;
    width: 100%;
    top: 140px;
    bottom: 100%;
    z-index: 2;
    background: rgba(140, 140, 140, 0.8);
    padding-bottom: 38px;
}

h3 {
    display: inline;
}

table {
    font-family: arial, sans-serif;
    border-collapse: collapse;
    width: 100%;
}

td, th {
    text-align: center;
    padding: 8px;
    width: 10%;
}

tr:nth-child(even) {
    background-color: rgba(150, 200, 200, 0.7);
}

.hide {
    display: none;
}

.hoverimage:hover+.hide {
    display: block;
    position: absolute;
    width: 60%;
    max-width: 400px;
    min-width: 200px;
}

.hoverimage {
    color: gold;
    border-bottom: 1px dashed white;
    padding-left: 30px;
}

.hoverimage i {
    float: right;
    font-variant: small-caps;
    color: blanchedalmond;
}

:target {
    background-color: rgba(150, 200, 200, 0.7);
    text-shadow: -1px -1px 0 #666, 1px -1px 0 #666, -1px 1px 0 #666, 1px 1px 0 #666;
    transition: background 2s, text-shadow 2s;
}

html {
    scroll-behavior: smooth;
}

#navbar {
    overflow: hidden;
}

#navbar a {
    text-align: center;
    text-decoration: none;
}

.sidenav {
    height: 100%;
    width: 0;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background-color: #333;
    overflow-x: hidden;
    transition: 0.5s;
    padding-top: 60px;
}

.sidenav a {
    padding: 4px 22px 4px 22px;
    text-decoration: none;
    font-size: 16px;
    color: #999;
    display: block;
    transition: 0.3s;
}

.sidenav a:hover {
    color: white;
}

@media screen and (max-height: 450px) {
    .sidenav {
        padding-top: 15px;
    }
    .sidenav a {
        font-size: 18px;
    }
}

.content {
    padding: 20px;
}

.sticky {
    position: fixed;
    top: 0;
    width: 100%;
    background-color: white;
    padding-bottom: 42px;
    color: black;
    font-weight: bold;
}

.sticky+.content {
    padding-top: 30px;
}

w3-button {
    background-color: rgba(150, 200, 200, 0.7);
}

#books section {
    padding: 2% 10% 2% 10%;
}